.App {
  text-align: center;
  min-height: 100vh;
}

body {
  min-height: 100vh;
/* background: rgb(18,18,18); */
background: linear-gradient(0deg, rgba(18,18,18,1) 80%, rgba(0, 0, 0, .2) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background: linear-gradient(325deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.spacer{
  min-height: 10vh;
}

.App-link {
  color: #61dafb;
}
/* https://www.happyhues.co/palettes/13 */
.App{
  background:linear-gradient(325deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)
}

.inputs-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
  padding-top:25px;
}

#chart{
  background-color: #181818;
  border-radius: 4px;
  width:80%;
  padding: 30px;
  margin: 20px auto;
  
}

.card{
  background-color: #181818;
  border-radius: 4px;
  width:80%;
  padding: 30px;
  margin: 20px auto;
}

#songChart{
  transition: 1s;
}

hr{
  width: 80%;
  margin-bottom: 20px;
}

rect {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

h1,h2 {
  color:white;
}

h3, h4 {
  color: #b3b3b3;
  font-weight: 400
}

.playlistName{
  margin:20px;
  border-radius: 500px;
  text-overflow: ellipsis;
}

	/* Light version */
	.sp-button.sp-flat.sp-light {
		background-color: #1DB954;
		color: #fff;
    padding:8px 34px 8px 34px;
    border-radius: 500px;
    margin:20px
	}
	.sp-button.sp-flat.sp-light:hover {
    transform:scale(1.1)
	}
	.sp-button.sp-flat.sp-light:active {

	}

#playlistInterface{
  display:flex;
  flex-direction:horizontal;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}